api_id: int
api_hash: str

phone_number: str
session: str

proxy = tuple
eg: proxy = (socks.SOCKS5,"localhost",1080) Using PySocks

limit = int # Set this to None to obtain all history

use_ipv6=False